# Python
__pycache__/


# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# VS Code
.vscode/
*.code-workspace

# Dataset files
archive/
models/archive/

# Model checkpoints (optional, if you want to exclude them)
# models/*.pth

# Logs
logs/
*.log

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db